# Для локального запуска каждого сервиса нужно в ручную указать порт.
server:
  port: ${SERVICE_PORT:8082}

# Количество логов. При "true" будет отображено больше логов.
debug: ${FULL_DEBUG:true}

# Общее логирование.
logging:
  level:
    tech:
      ruslo: ${LOGGING_LEVEL:debug}

spring:
  # Общие настройки Spring.
  main:
    # Выключить баннер в логах.
    banner-mode: off
    # Уменьшение количества начальных логов.
    log-startup-info: false