# Для локального запуска каждого сервиса нужно в ручную указать порт.
server:
  port: ${SERVICE_PORT:8082}

# Количество логов. При "true" будет отображено больше логов.
# Логирование запросов к БД.

debug: ${FULL_DEBUG:true}
logging:
  level:
    tech:
      ruslo: ${LOGGING_LEVEL:debug}
    org:
      springframework:
        # Логирование SQL запросов.
        r2dbc: ${LOGGING_LEVEL_R2DBC:debug}
    io:
      r2dbc:
        postgresql:
          # Логирование параметров SQL запросов.
          PARAM: ${logging.level.org.springframework.r2dbc}

spring:
  # Настройки реактивности.
  webflux:
    base-path: /ruslo/server-service

  # Общие настройки Spring.
  main:
    # Выключить баннер в логах.
    banner-mode: off
    # Уменьшение количества начальных логов.
    log-startup-info: false

  # Настройки реактивной БД.
  r2dbc:
    url: r2dbc:postgresql://${SERVICE_DB_HOST:localhost}:${SERVICE_DB_PORT:5434}/server_service
    username: ${SERVICE_DB_USERNAME:admin}
    password: ${SERVICE_DB_PASSWORD:admin}

  # Настройки версионирования БД.
  liquibase:
    url: jdbc:postgresql://${SERVICE_DB_HOST:localhost}:${SERVICE_DB_PORT:5434}/server_service
    user: ${spring.r2dbc.username}
    password: ${spring.r2dbc.password}
    driver-class-name: org.postgresql.Driver
    show-summary: off